.header {
  position: relative;
  margin-top: 4rem;
}
.header-section-right {
  margin: 1.2rem 0;
  /* margin-right: 2rem; */
}
.header-section-right img {
  width: 17.6rem;
}
.header-section-right p {
  font-size: 1.5rem;
  margin-top: 0;
}
.header-section-left {
  position: absolute;
  top: 15.8rem;
}
.world-logo img {
  /* margin-right: 2rem; */
  width: 200px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.section-lang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  order: 1;
  margin-bottom: 3rem;
  width: 600px;
}
.section-lang .lang strong {
  font-size: 1.6rem;
}
.input-container {
  order: 2;
}
.section-lang #lang-esp {
  padding-left: 3rem;
}
.section-lang #lang-chino {
  padding-right: 3rem;
}
.section-lang #lang-aleman {
  padding-right: 10rem;
}
.section-lang #lang-ingles {
  padding-left: 10rem;
}
.section-lang #lang-japones {
  padding-right: 12rem;
}
.section-lang #lang-ruso {
  padding-left: 12rem;
}
.section-lang #lang-frances {
  padding-right: 10rem;
}
.section-lang #lang-italiano {
  padding-left: 10rem;
}
.section-lang #lang-portugues {
  padding-left: 3rem;
}
.section-lang #lang-polaco {
  padding-right: 3rem;
}

.language-button-section {
  position: absolute;
  top: 53rem;
}
.language-button-section .lang-list-border {
  width: 45rem;
}
