* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    font-size: 1.6rem;
}

section {
    width: 80%;
    min-width: 320px;
    max-width: 500px;
    height: 500px;
    background-color: red;
    margin: 0 auto;
}