.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 2px;
}

.main-nav__item a:hover {
    color: cyan;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: " | ";
}